<footer>

<div class="footer-container">
<section class="message-box">

  <h3 class="message-box-title">Send me a message.</h3>

  <form method="POST" action="https://formspree.io/rlwysockijr@gmail.com">
    <input type="email" name="email" placeholder="Your email">
    <textarea class="contact-form" name="message" placeholder="Test Message"></textarea>
    <button type="submit">Send Test</button>
  </form>

</section>

  <section class="follow-box">
  <h4 class="social-media-heading">Follow Me</h4>
  <small>
    <ul class="social-media-footer-items">
      <li><a href="#">email.</a></li>
      <li><a href="#">twitter.</a></li>
      <li><a href="#">linkedin.</a></li>
      <li><a href="#">soundcloud.</a></li>
  </ul>
    </small>
  </section>
  </div>
</footer>
