<!-- Load an icon library to show a hamburger menu (bars) on small screens -->

<div class="topnav" id="myTopnav">

  <div class="nav-pages">
  {% assign mypages = site.pages | sort: "order" %}
    {% for page in mypages %}
    {% unless page.exclude %}
    {% unless page.url contains "/page" or page.url contains ".xml"%}
    {% unless page.url contains "custom-styles" %}


    <a href="{{ page.url | absolute_url }}">{{ page.title }}</a>

    {% endunless %}
  {% endunless %}
    {% endunless %}
    {% endfor %}
    </div>

    <div class="nav-icons">

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <div class="icon-inner-container">
      <a href="mailto:{{site.email}}" target="_blank"><i class="fas fa-1x fa-envelope-square"></i></a>
      <a href="{{site.twitter}}" target="_blank"><i class="fab fa-1x fa-twitter-square"></i></a>
      <a href="{{site.linkedin}}" target="_blank"><i class="fab fa-1x fa-linkedin"></i></a>
      </div>
    </div>


</div>
<!-- <nav class="topnav" id="myTopnav">
  {% assign mypages = site.pages | sort: "order" %}
    {% for page in mypages %}
    <a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
    {% endfor %}
  </nav> -->
