<!DOCTYPE html>
<html>

{% include head.html %}


    <header>

      {% include nav.html %}


        <div class="page-card">
      <h1 class="page-title">{{site.title}}</h1>

    <p class="attention-grabber">{{site.blurb}}</p>

    <img class="avatar" src="assets/images/rickapril.jpg" />

    {% include bio-blurb.html %}

</div>


  </header>


    <main>



     {{ content }}




   </main>


{% include footer.html %}

{% include javascript.html %}

</body>
</html>
